@import "../../base";
.Report {
    height:$page-height;
    width:$page-width;
}

.ReportHeader {
    background-color: $background-color;
    height:10%;
    width:100%;
    padding-top: 2.5vh;
}

.ReportBack{
    height:5vh;
    width:5vh;
    margin:0 2.5vh;
}

.ProfilePageName{
    color:$primary-color;
    font-size: 5vh;
}

.ReportMiddle {
    background-color: $primary-color;
    height:90%;
    width:100%;
    text-align: center;
}

.title{
    display: block;
    color:black;
    font-weight: 800;
    font-size:x-small;
    padding: 5vh 0;
}
